<%- include('partials/header') %>
<%- include('partials/nav') %>

<div class="admin-orders">
    <h2>Admin - View Orders</h2>
    <table>
        <thead>
            <tr>
                <th>Student Name</th>
                <th>Student ID</th>
                <th>Mango Juice</th>
                <th>Berry Juice</th>
                <th>Apple Juice</th>
                <th>Sub Total</th>
                <th>Tax</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- This Loops through orders and displays them here -->
            <% orders.forEach(order => { %>
                <tr>
                    <td><%= order.studentname %></td>
                    <td><%= order.studentid %></td>
                    <td><%= order.mjuice %></td>
                    <td><%= order.bjuice %></td>
                    <td><%= order.ajuice %></td>
                    <td><%= order.subtotal %></td>
                    <td><%= order.tax %></td>
                    <td><%= order.total %></td>
                    <td><a href="/delete-order/<%= order._id %>">Delete</a></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <a href="/logout">Logout</a>

</div>

<%- include('partials/footer') %>
